<table style='width:50%'>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Points</th>
      <th>Salary</th>
    </tr>

    <tr>
      <th>Hooker</th>
      <% if @team.get_hooker.nil? %>
        <th><%= render 'add_player' %></th>
      <% else %>
        <th><%= link_to @team.get_hooker.name, player_path(@team.get_hooker) %></th>
        <th><%= @team.get_hooker.points %></th>
        <th><%= @team.get_hooker.salary %></th>
      <% end %>
    </tr>

    <tr>
      <th>Front Row</th>
      <% if @team.get_front_row.nil? %>
        <th><%= render 'add_player' %></th>
      <% else %>
        <th><%= link_to @team.get_front_row.name, player_path(@team.get_front_row) %></th>
        <th><%= @team.get_front_row.points %></th>
        <th><%= @team.get_front_row.salary %></th>
      <% end %>
    </tr>

    <tr>
      <th>Second Row</th>
      <% if @team.get_second_row.nil? %>
        <th><%= render 'add_player' %></th>
        <th></th>
        <th></th>
      <% else %>
        <th><%= link_to @team.get_second_row.name, player_path(@team.get_second_row) %></th>
        <th><%= @team.get_second_row.points %></th>
        <th><%= @team.get_second_row.salary %></th>
      <% end %>
    </tr>

    <tr>
      <th>Half</th>
      <% if @team.get_half.nil? %>
        <th><%= render 'add_player' %></th>
      <% else %>
        <th><%= link_to @team.get_half.name, player_path(@team.get_half) %></th>
        <th><%= @team.get_half.points %></th>
        <th><%= @team.get_half.salary %></th>
      <% end %>
    </tr>

    <tr>
      <th>Centre</th>
      <% if @team.get_centre.nil? %>
        <th><%= render 'add_player' %></th>
      <% else %>
        <th><%= link_to @team.get_centre.name, player_path(@team.get_centre) %></th>
        <th><%= @team.get_centre.points %></th>
        <th><%= @team.get_centre.salary %></th>
      <% end %>
    </tr>

    <tr>
      <th>Outside Back</th>
      <% if @team.get_outside_back.nil? %>
        <th><%= render 'add_player' %></th>
      <% else %>
        <th><%= link_to @team.get_outside_back.name, player_path(@team.get_outside_back) %></th>
        <th><%= @team.get_outside_back.points %></th>
        <th><%= @team.get_outside_back.salary %></th>
      <% end %>
    </tr>

  </table>
