<table style='width:50%'>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Points</th>
      <th>Salary</th>
    </tr>

    <% Position.all.each do |position| %>
      <tr>
        <th><%= position.name %></th>
        <% if @team.get(position).nil? %>
          <th><%= render 'add_player' %></th>
        <% else %>
          <th id="player_profile" player_id="<%=@team.get(position).id %>"><%= @team.get(position).name %></th>
          <th><%= @team.get(position).points %></th>
          <th><%= @team.get(position).salary %></th>
          <th><%= render partial: 'delete_player', locals: {player: @team.get(position)} %></th>
      <% end %>
    </tr>
    <% end %>

  </table>
