<h2> <%= @team.name %> </h2><br>

<p>Total Points: <%= @team.points_total %></p><br>
<p>Available Salary: $ <%= @team.available_salary %></p><br>

<% if @team.league.nil? %>
  <% if is_admin? %>
    <h4><%= link_to "Create League", new_league_path %></h4>
  <% else %>
    <h4><%= link_to "Join a League", leagues_path %></h4>
  <% end %>
<% else %>
  <h4><%= link_to "#{@league.name} League Homepage", league_path %></h4>
<% end %>

<% if @team.user == current_user %>
  <h5><%= link_to "Edit Roster", edit_user_team_path(@user, @team) %></h5>
  <%= render 'add_player' %>
<% end %>
<br>

<% if @team.players.nil? %>
  <h4>Roster is EMPTY</h4>
<% else %>
  <table style='width:50%'>
    <tr>
      <th>Position</th>
      <th>Points</th>
      <th>Salary</th>
      <th></th>
      <th></th>
    </tr>
    <% @team.players.each do |player| %>
    <tr>
      <td><%= link_to player.name, player %></td>
      <td><%= player.points %></td>
      <td><%= player.salary %></td>
      <% if @team.user == current_user %>
        <!-- <td><%= render partial: 'songs/delete_song', locals: {song: song} %></td> -->
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
