<h2> <%= @team.name %> </h2><br>

<p>Total Points: <%= @team.points_total %></p><br>
<p>Available Salary: $ <%= @team.available_salary %></p><br>

<% if @team.league.nil? %>
  <% if is_admin? %>
    <h4><%= link_to "Create League", new_league_path %></h4>
  <% else %>
    <h4><%= link_to "Join a League", leagues_path %></h4>
  <% end %>
<% else %>
  <h4><%= link_to "#{@league.name} League Homepage", league_path %></h4>
<% end %>
<br>


<% if @team.user == current_user %>
  <h4><%= link_to "View Roster", edit_user_team_path(@user, @team) %></h4>
<% end %>
<br>

<%= render 'roster' %>
