<h2> <%= @league.name %> </h2><br>

<% if is_admin? %>
  <h5><%= link_to "Edit League Info", edit_league_path(@league) %></h5>
  <br>
<% end %>


<h4> League Standings </h4>
<table style='width:50%'>
  <tr>
    <th>Position</th>
    <th>Team Name</th>
    <th>Points</th>
    <th>User</th>
  </tr>

  <% @teams.each_with_index do |team, i| %>
  <tr id="teamid-<%=team.id%>" class="team_profile">
    <td><%= i + 1 %></td>
    <td><a href='#' onclick="loadTeam('<%=team.id%>')"><%= team.name %></td>
    <td><%= team.points_total %></td>
    <td><%= team.user.name %></td>
    </tr>
    <% end %>
  </table>
  <br>

<div id="messageBoard">
  <h4><a href='#' onclick='viewMessageBoard()'>Message Board</a></h4>
  <br>
  <div id="newMessageForm"></div>
</div>

<script type="text/javascript" charset="utf-8">
function hide() {
    $('.team_profile').hide();
  }

function viewMessageBoard() {
  event.preventDefault();
  $('#messageBoard').html("<%= j (render 'comments/index') %>")
}
</script>

<script id="team-template" type="text/x-handlebars-template">
    <h4>{{name}} -- Points: {{points_total}} -- Owner: {{owner}}</h4><br>
    <h4>Roster:</h4><br>
    <ul>
      <li>QB: {{qb}}</li>
      <li>RB: {{rb}}</li>
      <li>WR: {{wr}}</li>
      <li>TE: {{te}}</li>
      <li>D: {{d}}</li>
    </ul>
    <button onclick='hide()'>Hide</button>
  </script>

<script type="text/javascript" charset="utf-8">
function loadTeam(team_id) {
    event.preventDefault()
    var url = '/teams/' + team_id
    $.getJSON(url, function(data) {
      var player_array = Array.from(data.data.attributes.players)
      var output_array = []
      player_array.forEach(function (player) {
        i = {name: player["name"], position: player["position_id"]}
        output_array.push(i)
      })

      var position_array = []
      output_array.forEach(function (e) {
        position_array.push(e.position)
      })

      var final_array = []
      for (i = 0; i < 5; i++) {
        if (position_array.includes(i)) {
          final_array.push
        }
      }
      output_array.forEach(function (e) {
        for (i = 0; i < 5; i++) {
          if (e[1] == i) {
            final_array.push(e[0])

          } else {
            final_array.push('N/A')

          }
        }
      })

      var team = {
        name: data.data.attributes.name,
        points_total: data.data.attributes["points-total"],
        owner: data.data.attributes.user.name,
        qb: final_array[0],
        rb: final_array[1],
        wr: final_array[2],
        te: final_array[3],
        d: final_array[4]
      }
      var template = Handlebars.compile(document.getElementById("team-template").innerHTML)
      var result = template(team)
      var element = Array.from($('#teamid-' + data.data.id))
      element[0].innerHTML = result
    })
    return false
  }
</script>
