<%= form_for @comment, remote: true do |f| %>
  <div class="field">
    <label for="team_comment">Post Message: </label>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <input type="hidden" id="comment_team_id" name="comment[team_id]" value='<%= @team.id %>' />
  </div>

  <div class="field">
    <input type="hidden" id="comment_league_id" name="comment[league_id]" value='<%= @league.id %>' />
  </div>

  <div class="action">
  <%= f.submit "+" %>
  <br>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('form').submit(function(event) {
      //event.preventDefault();
      $(this).hide();
      var values = $(this).serialize();

      $.post('/teams', values, function(comment) {
        currentComment = comment.data.id
        //urlWithParams = "/users/" + team.data.attributes.user.id + "/teams/" + currentTeam
        $("#messageBoard").append('<li>"' + comment.data.attributes.content + '"<br>'
        + comment.data.attributes.team.name + ' -- ' + comment.data.attributes.created_at.strftime("%b-%d  %I:%M %p") '</li><br>')
      })
      return false
    });
</script>
