<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<% if is_admin? %>
<h4>LEAGUE ADMIN</h4>
<% end %>

<h2>Welcome <%= @user.name %>!</h2><br>

<% if !@user.teams.empty? %>
  <h4>Your Teams:</h4><br>
    <ul>
      <% @user.leagues.each do |league| %>
        <li><%= link_to league.name, league_path(league) %></li>
      <% end %>
    </ul>
<% end %>
<br>

<% if is_admin? %>
  <h4><%= link_to "Create League", new_user_team_path(@user, @team) %></h4>
<% else %>
    <h4><%= link_to "Create Team", new_user_team_path(@user, @team) %></h4>
<% end %>
<br>

<h4><%= link_to "Playler Stats", players_path %></h4><br>

<!-- <h4><%= link_to "Most Popular Songs", '/songs/most_popular' %></h4><br> -->
<!-- CREATE CUSTOM ROUTES !!! -->
