<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<% if is_admin? %>
<h4>LEAGUE ADMIN</h4>
<% end %>

<h2>Welcome <%= @user.name %>!</h2><br>

<div id="existingTeams">
<% @user.teams.each do |team| %>
  <li><%= link_to team.name, user_team_path(@user, team) %>
    <% if !team.league.nil? %>
      --- <%= link_to team.league.name, league_path(team.league) %>
    <% else %>
      --- Please join a league!
    <% end %>
  </li>
<% end %>
</div>

<% if is_admin? %>
  <div class="newLeague">
    <br>
    <h4><%= link_to "Create League", new_user_team_path(@user, @team) %></h4>
    <br>
  </div>
<% else %>
  <div id="newTeam">
    <br>
    <h4><a href='#' onclick='createNewTeamForm()'>Create New Team</a></h4>
    <br>
    <div id="newTeamForm"></div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
function createNewTeamForm() {
  event.preventDefault();
  $('#newTeamForm').html("<%= j (render 'teams/new_team') %>")
}
</script>

<br>

<div id="player_stats">Stat Leaders: <select id="stat_dropdown">
  <option value="points">Total Points</option>
  <option value="touchdowns">Touchdowns</option>
  <option value="pass-yards">Pass Yards</option>
  <option value="rush-yards">Rush Yards</option>
  <option value="receptions">Receptions</option>
  <option value="rec-yards">Rec. Yards</option>
</select>
  <button id="submit_player_stats" onclick='getStatLeaders()'>Search</button>
</div>
<div id="statLeadersHeader"></div>
<div id="statLeadersBody"></div>

<script type="text/javascript" charset="utf-8">
function getStatLeaders() {
      event.preventDefault()
      $.getJSON('/players', function(data) {
        var playerArray = []
        data.data.forEach(function (player) {
          var stat = $('option:selected')[0].value
          var individualArray = [player.attributes.name, player.attributes.position.name,
            player.attributes["pro-team"], player.attributes[stat]]
          playerArray.push(individualArray)
        })
        var statArray = playerArray.sort(function (a, b) {
          return b[3] - a[3]
        }).slice(0, 5)
        var stat_name = { stat_name: $('option:selected')[0].innerHTML }
        var templateArray = []
        statArray.forEach(function (player) {
          var individualStats = {
            name: player[0],
            position: player[1],
            pro_team: player[2],
            stat: player[3]
            //stat_name: $('option:selected')[0].innerHTML,
          }
          templateArray.push(individualStats)
        })
        var template_header = Handlebars.compile(document.getElementById("stat_header_template").innerHTML)
        var template_body = Handlebars.compile(document.getElementById("stat_body_template").innerHTML)
        var header_result = template_header(stat_name)
        var body_result = template_body(templateArray)
        document.getElementById("statLeadersHeader").innerHTML = header_result
        document.getElementById("statLeadersBody").innerHTML = body_result
      })
      return false
    }
</script>

<script id="stat_header_template" type="text/x-handlebars-template">
<h4>{{stat_name}} Leaders</h4>
      <table style='width:50%'>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Position</th>
          <th>Pro-Team</th>
          <th>{{stat_name}}</th>
        </tr>
  </table>
</script>
<script id="stat_body_template" type="text/x-handlebars-template">
  <table style='width:50%'>
        {{#each this}}
        <tr>
          <td>{{@index}}</td>
          <td>{{name}}</td>
          <td>{{position}}</td>
          <td>{{pro_team}}</td>
          <th>{{stat}}</th>
        </tr>
        {{/each}}
      </table>
</script>
