<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<% if is_admin? %>
<h4>LEAGUE ADMIN</h4>
<% end %>

<h2>Welcome <%= @user.name %>!</h2><br>

<% if @user.leagues.empty? %>
  <% if is_admin? %>
    <h4><%= link_to "Create New League", new_league_path %></h4>
  <% else %>
    <h4>You have not been added to any leagues</h4>
  <% end %>
<% else %>
  <h4>Your Leagues:</h4><br>
    <ul>
      <% @user.leagues.each do |league| %>
        <li><%= link_to league.name, league_path(league) %></li>
      <% end %>
    </ul>
<% end %>
<br>

<h4><%= link_to "Playler Stats", players_path %></h4><br>

<!-- <h4><%= link_to "Most Popular Songs", '/songs/most_popular' %></h4><br> -->
<!-- CREATE CUSTOM ROUTES !!! -->
