<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<% if is_admin? %>
<h4>LEAGUE ADMIN</h4>
<% end %>

<h2>Welcome <%= @user.name %>!</h2><br>

<div id="existingTeams">
<% @user.teams.each do |team| %>
  <li><%= link_to team.name, user_team_path(@user, team) %></li>
<% end %>
</div>

<% if is_admin? %>
  <div class="newLeague">
    <h4><%= link_to "Create League", new_user_team_path(@user, @team) %></h4>
  </div>
<% else %>
  <div id="newTeam">
    <h4><a href='#' onclick='createNewTeamForm()'>Create New Team</a></h4>
    <br>
    <div id="newTeamForm"></div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
function createNewTeamForm() {
  event.preventDefault();
  $('#newTeamForm').html("<%= j (render 'teams/new_team') %>")
}
</script>

<br>

<div id="player_stats">Stat Leaders: <select id="stat_dropdown">
  <option value="points">Total Points</option>
  <option value="touchdowns">Touchdowns</option>
  <option value="pass_yards">Pass Yards</option>
  <option value="rush_yards">Rush Yards</option>
  <option value="receptions">Receptions</option>
  <option value="rec_yards">Rec. Yards</option>
</select>
  <button id="submit_player_stats" onclick='loadPlayers()'>Search</button>
</div>
<div id="stat_leaders"></div>

<script id="stat_leader_template" type="text/x-handlebars-template">
  <div id="stat_header">
    <h4>{{stat}} Leaders</h4>
    <div id="stat_body">
      <table style='width:50%'>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Position</th>
          <th>Pro-Team</th>
          <th>Stat</th>
        </tr>
        {{#each this}}
        <tr>
          <td></td>
          <td>{{name}}</td>
          <td>{{position}}</td>
          <td>{{pro_team}}</td>
          <th>{{stat}}</th>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
</script>
