<h1><%= @player.name %></h1><br>
<h3><%= @player.position.name %> --- <%= @player.pro_team %></h3><br>

<h4>Salary: $<%= @player.salary %></h4><br>
<h4>Points: <%= @player.points %></h4><br>

<h4>Stats</h4><br>
  <p>Tries: <%= @player.tries %></p><br>
  <p>Goals: <%= @player.goals %></p><br>
  <p>Line Breaks: <%= @player.line_breaks %></p><br>
  <p>Run Metres: <%= @player.run_metres %></p><br>
  <p>Tackles: <%= @player.tackles %></p><br>
