<h1><%= @player.name %></h1><br>
<h3><%= @player.position.name %> --- <%= @player.pro_team %></h3><br>

<h4>Salary: $<%= @player.salary %></h4><br>
<h4>Points: <%= @player.points %></h4><br>

<h4>Stats</h4><br>
  <p>TDs: <%= @player.touchdowns %></p><br>
  <p>Passing Yards: <%= @player.pass_yards %></p><br>
  <p>Rushing Yards: <%= @player.rush_yards %></p><br>
  <p>Receptions: <%= @player.receptions %></p><br>
  <p>Receiving Yards: <%= @player.rec_yards %></p><br>
